[Unit]
Description=Venom Authentication Agent - Polkit & PAM Handler
Documentation=https://github.com/vaxp/venom-auth
# يجب أن يعمل بعد تحميل الجلسة الرسومية بالكامل
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/venom_auth
# هذا العفريت حيوي، يجب إعادة تشغيله فوراً إذا سقط
Restart=always
RestartSec=1
# ضبط متغيرات البيئة لضمان ظهور النافذة بشكل صحيح
Environment=DISPLAY=:0

[Install]
WantedBy=graphical-session.target