[Unit]
Description=Venom Basilisk
Documentation=https://github.com/venom/venom_basilisk
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/venom_basilisk
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
