[Unit]
Description=Venom OSD - On Screen Display Daemon
Documentation=https://github.com/vaxp/venom-osd
# العمل فقط ضمن الجلسة الرسومية
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/venom_osd
# إعادة التشغيل تلقائياً إذا حدث خطأ (مهم جداً للأنظمة الرسومية)
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target